.App {
  
}

.App-logo {
  margin-top: 10px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  text-align: center;
  padding-bottom: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
}
.List-pods {
  list-style: none;
}
.List-pods li {
  margin: 20px;
  margin-left: -15px;
  border: 1px solid #ccc;
  padding: 10px;
}
.Tabel-pods td {
  padding-right: 10px;
}
.Detail-pod {
  height: 350px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}